name: build
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        enable:
          - PROCESS_AGENT=0 SECURITY_AGENT=0 TRACE_AGENT=0 SYSTEM_PROBE=0
          - PROCESS_AGENT=1 SECURITY_AGENT=0 TRACE_AGENT=0 SYSTEM_PROBE=0
          - PROCESS_AGENT=1 SECURITY_AGENT=0 TRACE_AGENT=1 SYSTEM_PROBE=0
          - PROCESS_AGENT=1 SECURITY_AGENT=1 TRACE_AGENT=1 SYSTEM_PROBE=1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Get image tag
        id: tag
        run: make show-image-tag
      - name: Pull previous image
        run: |
          docker pull \
              ghcr.io/${{ github.repository_owner }}/${{ steps.tag.outputs.tag }} \
            && docker tag \
                ghcr.io/${{ github.repository_owner }}/${{ steps.tag.outputs.tag }} \
                ${{ steps.tag.outputs.tag }} \
            || true

      - name: Build images
        id: build
        env:
          BUILD_OPTS: "--cache-from ${{ steps.tag.outputs.tag }} --pull"
        run: |
          eval ${{ matrix.enable }}
          make docker-build \
            BUILD_OPTS="${BUILD_OPTS}" \
            ENABLE_PROCESS_AGENT=${PROCESS_AGENT} \
            ENABLE_SECURITY_AGENT=${SECURITY_AGENT} \
            ENABLE_TRACE_AGENT=${TRACE_AGENT} \
            ENABLE_SYSTEM_PROBE=${SYSTEM_PROBE}

      - name: Login to GitHub Container Registry
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}
      - name: Deploy
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker tag \
            ${{ steps.tag.outputs.tag }} \
            ghcr.io/${{ github.repository_owner }}/${{ steps.tag.outputs.tag }}
          docker push \
            ghcr.io/${{ github.repository_owner }}/${{ steps.tag.outputs.tag }}
