name: build
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        enable:
          - PROCESS_AGENT=1 SECURITY_AGENT=0 TRACE_AGENT=0 SYSTEM_PROBE=0
          - PROCESS_AGENT=1 SECURITY_AGENT=0 TRACE_AGENT=1 SYSTEM_PROBE=0
          - PROCESS_AGENT=1 SECURITY_AGENT=1 TRACE_AGENT=1 SYSTEM_PROBE=1
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build images
        id: build
        run: |
          eval ${{ matrix.enable }}
          make docker-build \
            ENABLE_PROCESS_AGENT=${PROCESS_AGENT} \
            ENABLE_SECURITY_AGENT=${SECURITY_AGENT} \
            ENABLE_TRACE_AGENT=${TRACE_AGENT} \
            ENABLE_SYSTEM_PROBE=${SYSTEM_PROBE}

      - name: Login to GitHub Packages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker tag \
            ${{ steps.build.outputs.tag }} \
            docker.pkg.github.com/${{ github.repository }}/${{ steps.build.outputs.tag }}
          docker push \
            docker.pkg.github.com/${{ github.repository }}/${{ steps.build.outputs.tag }}
